* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:lightblue;
}

.blur {
    filter: blur(1vw);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    padding: 3vw;
    background-color: lightcoral;
}

#header-text {
    display: flex;
    flex-direction: column;
}

#header-text h1 {
    font-family: 'Pacifico', cursive;
}

#header-text p {
    font-family: 'Pacifico', cursive;
}

.fa-mug-hot {
    font-size: 20vw;
    color: black;
}

.fa-prescription {
    font-size: 10vw;
    padding-top: 3.5vw;
    padding-right: 4.5vw;
    color: lightcoral;
}

#logo-cup {
    height: 100%;
    width: 100%;
}

#logo-rx {
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: 9vw;
    right: 9vw;
    color: white;
}

.main {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    overflow: auto;
    padding: 3vw;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

#cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    display: flex;
    margin: 3vw;
}

.product-text {
    margin-left: 3vw;
    width: 100%;
}

.product-header {
    display: flex;
    justify-content: space-between;
}

.product-footer {
    display: flex;
    justify-content: space-between;
}

img {
    height: 25vw;
    width: 25vw;
}

.description {
    font-size: 3vw;
}

h3 {
    font-size: 5vw;
}

h4 {
    font-size: 4vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding: 3vw;
    background-color:lightcoral;
}

#cart-info {
    display: flex;
    align-items: center;
}

#footer-total {
    padding-left: 2vw;
}

.fa-shopping-cart {
    font-size: 10vw;
}

#footer-item-count {
    position: fixed;
    bottom: 6.5vw;
    left: 8vw;
    color: white;
    font-family: 'Pacifico', cursive;   
}

/* #footer-button {
    border-radius: 25vw;
} */

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.7vw solid black;
}

#checkout {
    width: 100%;
}

#checkout-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#cost-info {
    width: 100%;
}

#tip-info {
    width: 100%;
}

#tip-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.clicked {
    background-color: blue;
}

.not-clicked {
    background-color: red;
}

#custom-tip {
    justify-content: space-between;
}

#cash-prompt {
    flex-direction: column;
}

#card-prompt {
    flex-direction: column;
}
/* 
#confirm-payment {

} */

#popup {
    position: fixed;
    left: 15vw;
    top: 20vh;
    height: 60vh;
    width: 70vw;
    background-color: lightcoral;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#popup-text {
    text-align: center;
}

#start-over {
    height: 15vw;
    width: 40vw;
}