/* entire app */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    color: #412B15;
    border-color: #412B15;
}

html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-color: #d2c1b0;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

[hidden] {
    display: none !important;
}

button {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.5rem;
    border: solid 0.1rem #412B15;
    cursor: pointer;
}

.back-button {
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ad6d2f;
}

input {
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border: solid 0.1rem #412B15;
}

select {
    border-radius: 0.5rem;
    border: solid 0.1rem #412B15;
    cursor: pointer;
}

/* header */

header {
    width: 100%;
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: #ad6d2f;
    border-bottom: solid 0.1rem #412B15;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-text {
    display: flex;
    flex-direction: column;
}

#header-text h1 {
    font-family: 'Pacifico', cursive;
    color: #d2c1b0; 
    font-size: 2.5rem;
    font-weight: normal;
    text-shadow: -0.2rem 0 #654321, 0 0.2rem #654321, 0.2rem 0 #654321, 0 0.2rem #654321;
}

#header-text p {
    display: none;
}

.fa-mug-hot {
    font-size: 4rem;
    color: #654321;
}

.fa-prescription {
    position: absolute;
    top: 2.4rem;
    right: 2.2rem;
    font-size: 2rem;
    color: #d2c1b0;
}

/* footer */

footer {
    width: 100%;
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: #ad6d2f;
    border-top: solid 0.1rem #412B15;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-info {
    display: flex;
    align-items: center;
}

#footer-total {
    font-size: 2rem;
    padding-left: 0.5rem;
}

.fa-shopping-cart {
    font-size: 3rem;
    color: #654321;
}

#footer-item-count {
    position: absolute;
    bottom: 0.9rem;
    left: 1.6rem;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    color: #d2c1b0;
    font-size: 2rem;
}

#footer-button {
    height: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #d2c1b0;
}

/* main section */

main {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section {
    width: 100%;
}

h2 {
    font-size: 2.5rem;
}

/* menu items */

.product {
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 95%;
    margin: 0.5rem;
    margin-bottom: 1rem;
}

.product img {
    height: 6rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: solid 0.1rem #412B15;
}

.product-text {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    height: 100%;
    width: 100%;
}

.product-name {
    font-size: 2rem;
}

.product-price-header {
    display: none;
}

.product-description {
    display: none;
    font-size: 1rem;
}

.product-footer {
    display: flex;
    justify-content: space-between;
}

.product-price-footer {
    font-size: 2rem;
}

.product-footer select {
    display: none;
}

.product-footer button {
    display: none;
}

.fa-plus-square {
    font-size: 2.5rem;
}

/* shopping cart */

#cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

#cart-items {
    width: 100%;
}

#cart-message {
    font-size: 2rem;
    margin-top: 1rem;
}

.fa-minus-square {
    font-size: 2.5rem;
}

/* checkout */

#checkout-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid;
    margin-bottom: 0.3rem;
    padding-bottom: 0.2rem;
}

.error {
    border-width: 0.3rem;
    border-color: red;
}

#checkout span, #checkout label, #checkout data {
    font-size: 1.8rem;
    font-weight: bold;
}

#cost-info {
    width: 100%;
}

#tip-info {
    width: 100%;
    padding-top: 0.5rem;
}

.clicked {
    background-color: #ad6d2f;
}

.not-clicked {
    background-color: white;
}

#tip-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    margin-bottom: 0.5rem;
}

#tip-buttons button {
    font-size: 1.8rem;
    margin: 0.25rem;
} 

#custom-tip {
    margin-bottom: 0.5rem;
}

#custom-tip-flex {
    display: flex;
    flex-wrap: wrap;
}

#custom-tip-buttons {
    display: flex;
}

#custom-tip-buttons button {
    font-size: 1.8rem;
    margin: 0.25rem;
}

#tip-entry {
    margin: 0.25rem;
}

#payment-buttons {
    margin-bottom: 0.5rem;
}

#payment-buttons button {
    font-size: 1.8rem;
    margin: 0.25rem;
}

#cash-prompt {
    flex-direction: column;
    width: 100%;
}

#cash-input {
    margin-left: 0.5rem;
    width: 50%;
}

#card-prompt {
    flex-direction: column;
    width: 100%;
}

#card-prompt input {
    width: 50%;
}

#cc-warning {
    color: crimson;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}

/* confirm payment */

#confirm-payment-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#order-summary {
    width: 100%;
}

#order-summary span, #order-summary label, #order-summary data {
    font-size: 1.8rem;
    font-weight: bold;
}

/* popup */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #d2c1b0;
    border: solid 0.2rem #654321;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 0.5rem;
}

#popup-header {
    margin-bottom: 0.5rem;
}

#popup-text p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

#popup-button {
    height: 15%;
    width: 50%;
    font-size: 1.5rem;
    font-weight: bold;
}

.blur {
    filter: blur(1rem);
}

/* tablet styling */

@media only screen and (min-width: 768px) {

    /* entire app */

    button {
        border-width: 0.3rem;
        border-radius: 2rem;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }

    .back-button {
        font-size: 3rem;
    }

    input {
        font-size: 4rem;
        border-radius: 2rem;
        border-width: 0.3rem;
    }

    /* header */

    header {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        border-width: 0.3rem;
    }

    #header-text h1 {
        font-size: 4.5rem;
        text-shadow: -0.35rem 0 #654321, 0 0.35rem #654321, 0.35rem 0 #654321, 0 0.35rem #654321;
    }

    #header-text p {
        display: block;
        font-size: 2rem;
        font-family: 'Pacifico', cursive;
        color: #654321;
        margin-top: -0.5rem;
    }

    .fa-mug-hot {
        font-size: 8rem;
    }

    .fa-prescription {
        top: 5rem;
        right: 4.5rem;
        font-size: 4rem;
        color: #d2c1b0;
    }

    /* footer */

    footer {
        /* padding: 1rem; */
        border-width: 0.3rem;
    }

    #footer-total {
        font-size: 3.5rem;
    }

    .fa-shopping-cart {
        font-size: 5rem;
    }

    #footer-item-count {
        font-size: 3rem;
        bottom: 1.8rem;
        left: 2.4rem;
    }

    #footer-button {
        font-size: 2.5rem;
        padding: 0;
        border-radius: 1.5rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }

    /* main section */

    main {
        padding: 1.5rem;
    }

    h2 {
        font-size: 5rem;
    }

    /* menu items */

    .product {
        height: 12rem;  
        margin: 1rem;
        margin-bottom: 2rem;
    }

    .product img {
        height: 12rem;
        width: 12rem;
        border-radius: 2rem;
        margin-right: 1rem;
        border-width: 0.3rem;
    }

    .product-text {
        justify-content: space-between;
        min-width: 0;
    }

    .product-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-name {
        font-size: 4rem;
    }

    .product-price-header {
        display: block;
        font-size: 4rem;
    }

    .product-description {
        display: block;
        font-size: 2.5rem;
        text-overflow: ellipsis;
        overflow: hidden;    
        white-space: nowrap;
    }

    .product-footer {
        justify-content: flex-end;
    }

    .product-price-footer {
        display: none;
    }

    .product i {
        display: none;
    }

    .product-footer select {
        display: block;
        font-size: 2.5rem;
        width: 5.5rem;
        font-weight: bold;
        border-radius: 1rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        border-width: 0.2rem;
    }

    .product-footer button {
        display: block;
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        border-radius: 1rem;
        border-width: 0.2rem;
    }

    /* shopping cart */

    #cart-message {
        font-size: 4rem;
    }

    /* checkout */

    .row {
        border-width: 0.25rem;
    }

    .error {
        border-width: 1rem;
    }

    #checkout span, #checkout label, #checkout data {
        font-size: 4rem;
    }

    #cost-info {
        margin-bottom: 1rem;
    }

    #tip-buttons button {
        font-size: 4rem;
        margin: 1rem;
    } 

    #custom-tip-buttons button {
        font-size: 4rem;
        margin: 1rem;
    }

    #tip-entry {
        margin: 1rem;
    }

    #payment-buttons button {
        font-size: 4rem;
        margin: 1rem;
    }

    #cash-prompt {
        margin-top: 1rem;
    }

    #cash-prompt * {
        margin-bottom: 0.5rem;
    }

    #card-prompt {
        margin-top: 1rem;
    }

    #card-prompt * {
        margin-bottom: 0.5rem;
    }

    #cc-warning {
        font-size: 3rem;
    }

    /* confirm payment */

    #order-summary span, #order-summary label, #order-summary data {
        font-size: 4rem;
    }

    /* popup */

    #popup {
        width: 60%;
        padding: 2rem;
        border-radius: 2rem;
        border-width: 0.5rem;
    }

    #popup-text p {
        font-size: 3rem;
    }

    #popup-button {
        font-size: 3.5rem;
    }

}

/* desktop styling */

@media only screen and (min-width: 1025px) {

    /* entire app */

    input {
        font-size: 3rem;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .back-button {
        font-size: 2.5rem;
    }

    /* header */

    header {
        padding-top: 0;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #header-text {
        flex-direction: row;
        align-items: center;
    }

    #header-text h1 {
        font-size: 2.5rem;
        text-shadow: -0.25rem 0 #654321, 0 0.25rem #654321, 0.25rem 0 #654321, 0 0.25rem #654321;
    }

    #header-text p {
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    .fa-mug-hot {
        font-size: 4rem;
        margin-bottom: -0.5rem;
    }

    .fa-prescription {
        font-size: 2rem;
        top: 2.2rem;
        right: 2.3rem;
    }

    /* footer */

    footer {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    #footer-total {
        font-size: 2.5rem;
    }
    
    .fa-shopping-cart {
        font-size: 3rem;
    }
    
    #footer-item-count {
        font-size: 2rem;
        bottom: 1.1rem;
        left: 1.5rem; 
    }
    
    #footer-button {
        font-size: 2rem;
        height: 75%;
        padding-top: 0;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        border-width: 0.2rem;
        border-radius: 1rem;
    }
    
    /* main section */

    main {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 18%;
        padding-right: 18%;
    }

    h2 {
        font-size: 4rem;
    }

    /* menu items */

    .product {
        height: 12rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
    }
    
    .product img {
        height: 12rem;
        width: 12rem;
    }
    
    .product-name {
        font-size: 3.5rem;
    }
    
    .product-price-header {
        font-size: 3.5rem;
    }
    
    .product-description {
        font-size: 2.5rem;
        text-overflow: clip;
        overflow: visible;
        white-space: normal;
    }
    
    .product-footer {
        margin-top: -2.5rem;
    }
    
    .product-footer select {
        font-size: 2.5rem;
        width: 5.5rem;
    }
    
    .product-footer button {
        font-size: 2.5rem;
    }
    
    /* shopping cart */

    #cart-header {
        padding-top: 1rem;
        /* margin-bottom: 2rem; */
    }

    /* checkout */

    #checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #checkout-header {
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    
    /* .row {

    } */
    
    .error {
        border-width: 0.5rem;
    }
    
    #checkout span, #checkout label, #checkout data {
        font-size: 3rem;
        font-weight: bold;
    }
    
    #cost-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cost-info .row {
        width: 75%;
    }
    
    #tip-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    #tip-buttons {
        justify-content: center;
    }
    
    #tip-buttons button {
        font-size: 3rem;
    } 
    
    #custom-tip {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* #custom-tip-flex {

    } */
    
    /* #custom-tip-buttons {

    } */
    
    #custom-tip-buttons button {
        font-size: 3rem;
    }
    
    /* #tip-entry {

    } */

    #payment-question {
        margin-top: 2rem;
    }
    
    /* #payment-buttons {

    } */
    
    #payment-buttons button {
        font-size: 3rem;
    }
    
    #cash-prompt {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    /* #cash-input {

    } */
    
    #card-prompt {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    /* #card-prompt input {

    } */
    
    #cc-warning {
        font-size: 3rem;
    }

    /* confirm payment */

    #confirm-payment-header {
        padding-top: 1rem;
    }

    #order-summary {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #order-summary span, #order-summary label, #order-summary data {
        font-size: 3rem;
    }

    #order-summary .row {
        width: 75%;
    }

    /* popup */

    #popup {
        width: 40%;
    }

    #popup-header {
        font-size: 4rem;
    }

    #popup-text p {
        font-size: 2.5rem;
    }

    #popup-button {
        font-size: 3rem;
    }

}